.title {
	width: 105%;
	margin-left: 0px;
	margin-right: 70px;
	margin-bottom: 10px;
	padding: 10px;
}

.down {
	width: 90%;
	margin-left: 80px;
	margin-right: 100px;
	margin-bottom: 10px;
	padding: 10px;
}
