.Header {
	background-color: rgb(50,120,205);
    font-family: 'NIXGONL-Vb';
    color: white;
    font-size: 2rem;
    padding: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    user-select: none;
}
.HeaderButton {
	background-color: rgb(50,120,205);
    border:none;
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'NIXGONL-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
