.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
	font-weight: 500;
	text-align: center;
	color:gray;
	height: flex;
	padding-bottom: 0px;
}
.ui.card>.content, .ui.cards>.card>.content {
	flex-grow: unset;
}